
  @font-face{
    font-family: myFirstFont;
    src: url(../fonts/IRANSansWeb400.woff);
  }
  *{
    letter-spacing: 0;
    font-weight: lighter;
  }
  a{
      color: black;
      text-decoration: none;
  }
  .mysubtitle-1{
    font-size: 14px !important;
  }
.w-100{
  width: 100%;
}
.v-card--reveal {
  align-items: center;
  text-align: center;
  font-size: 30px;
  bottom: 0;
  justify-content: center;
  opacity: .8;
  position: absolute;
  width: 100%;
}
  .position-Sticky{
    position: sticky !important;
    top: 0;
    z-index: 99;
    background-color:rgb(249 249 249)
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  .display-none{
    display : none !important;
  }
.border-left{
  border-left: 1px solid #ccc;
}
.border-top{
  border-top: 1px solid #ccc;
}
.inherit-bg{
  background-color: inherit !important;
}
  .discount-text-decoration{
    text-decoration:line-through !important;
  }
  .emoji-menu{
    transform:none !important;
    bottom:0 !important;
    top: 72px !important;
    left: auto !important;
    left: 0 !important;
    height: 80vh;
    background-color:white;
    width: 255px !important;
    z-index: 99;
  }
  .emoji-items-wrap , .emoji-items-wrap1{
    height: 100% !important;
  }
  .emoji-picker-icon.parent-has-scroll{
    right: 10px !important;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }